.sahyog1 {
    height: calc(100vh - 5rem);
    display: flex;
    background-color: #fff0bc;
    align-items: center;
    justify-content: space-evenly;
  }
  
  
  .sahyog1 img {
    height: 32rem;
  }
  
  .sahyog1 .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: white; */
  }

  .sahyog1 h1 {
    text-transform: uppercase;
    font-family: "";

    font-weight: 900;
    font-size: 6rem;
    margin-left: -17rem;
  }
  
  .sahyog1 p {
  
    font-family: "";
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-left: -15rem;
    margin-bottom: 8rem;
    margin-top: -2rem;
  }
  
  .sahyog2 {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .sahyog2 .fluid{
    width: 100%;
    text-align: center;
  }
  
  .fluid h3{
    font-size:2rem;
  }
  
  .fluid p{
    font-size: 1.3rem;
    font-family: "";
    letter-spacing:0.15rem;
  }
  
  .sahyog3 {
    height: 100vh;
  }
  
  
  .sahyog3{
    display: flex;
    flex-direction:column;
    align-items: center;
    /* justify-content: space-around; */
    gap: 5rem;
    background: #fff0bc;
  }
  
  .sahyog3 h2{
    position: relative;
    margin-top: 4rem;
    font-size:6rem;
    font-family: "";
  }
  

  .sahyog3 .images{
    display: flex;
    justify-content: space-around;
    gap:1rem;
    margin-top: -6rem;
    margin-bottom: 3rem;

  }
  .sahyog3 .images div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sahyog3 .images img{
    width: 100%;
  }
  
  .sahyog3 .images div a{
    background: #fff;
    text-decoration: none;
    width: 10rem;
    height: 1.7rem;
    text-align: center;
    border-radius: 1rem;
    margin-top:1rem;
    font-size: 1.3rem;
    font-weight: 900;
    text-transform:uppercase;
  }
  
  .sahyog4{
    background: #333;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: space-around;
  }
  
  .sahyog4 .infos{
    display: flex;
  }
  
  .form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .sahyog4 .form input{
    color: white;
    height: 3rem;
    background: transparent; 
    border-right: none;
    border-top: none;
    border-left: none;
  }
  
  #three textarea{
    background: transparent;
    border: none;
  }
  
  #one{
    display: flex;
    gap: 3rem;
  }
  
  #four input{
    background-color: blue;
    border-radius: 2rem;
    width:10rem;
    font-weight: bolder;
    height: 2rem;
    text-align: center;
  }

#phone {
    size: 0cap;
}